<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">

        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>

    </appender>

    <!-- Rolling File Appender -->
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>logs/application.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

            <fileNamePattern>
                logs/application.%d{yyyy-MM-dd}.log
            </fileNamePattern>

            <maxHistory>7</maxHistory>

        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>

    </appender>

    <logger name="com.example.loggingdemo" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>